.startButton {
    cursor: pointer;
}

a {
    position: relative;
    padding: 10px 30px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    width: 300px;
}

.a:hover {
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
}

.a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;

}

.a:hover:before {
    width: 90%;
    height: 90%;
    transition-delay: 0s;
}

.a:hover:after {
    width: 90%;
    height: 90%;
    transition-delay: 0s;
}
.a:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
}